<style>
    li {
        float: left;
    }

    a {
        display: block;
        padding: 2px;
    }

    .special-input {
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding: 2px !important;
        background: #3c4768 !important;
        margin-bottom: 0px !important;
        width: inherit !important;
        height: inherit !important;
        border-bottom: 0 !important;
        border-radius: 5px !important;
        padding: 4px !important;
    }
    
    .sub:hover {
        color:#3c4768;
    }
</style>
    <div class="">
    <div class="col right white-text valign-wrapper" style="background-image: url('/wp-content/themes/twig-wp-theme/static/ribbon_newsletter.png'); background-size: 100% 100%;">
        <ul style="padding: 0px 15px 0px 45px; margin: 0px 0px 0px 0px">
            <li style="margin: 5px 0px;">
                <form id="ic_signupform" method="POST" action="https://app.icontact.com/icp/core/mycontacts/signup/designer/form/?id=95&cid=1560023&lid=21059">
                    <span style="font-size: 13pt; color: white;"><b>Get the Latest: </b></span>
                    <input type="text" id="fname" placeholder="First Name" class="special-input">
                    <input type="text" id="email" placeholder="Email" class="special-input">
                    <a id="submmitNewsletter" class="white-text btn-flat waves-effect" style="font-size: 13pt; padding: 0 10px" type="submit"><span class="sub">Subscribe</span> </a>
                </form>
            </li>
            <li><a  href="https://www.facebook.com/traveljuliasway" class="valign"><img src={{facebook}} style="height: 30px; padding: 0"></img></a></li>
            <li><a  href="https://www.instagram.com/traveljuliasway" class=" valign"><img src={{instagram}} style="height: 30px"></img></a></li>
            <li><a  href="https://twitter.com/traveljuliasway" class="valign"><img src={{twitter}} style="height: 30px"></img></a></li>
            <li><a href="" class="valign"><img src={{youtube}} style="height: 30px"></img></a></li>
        </ul>
    </div>
</div>

<script>
    
    $('#submmitNewsletter').click(function(){
        console.log("IM ALIVE!");
        var data = {
            firstName: document.getElementById("fname").value,
            email: document.getElementById("email").value
        };
        
        console.log(data);

        
      $.post('../wp-content/themes/twig-wp-theme/setContact.php',data,function(){
        }); 
        
        Materialize.toast('You have subscribed', 4000)
        
        document.getElementById("fname").value = null,
        document.getElementById("email").value = null
    });
    
</script>