<style>
    li {
        float: left;
    }

    a {
        display: block;
        padding: 2px;
    }

    .special-input {
        margin-left: 10px !important;
        margin-right: 10px !important;
        padding: 2px !important;
        background: #3c4768 !important;
        margin-bottom: 0px !important;
        width: inherit !important;
        height: inherit !important;
        border-bottom: 0 !important;
        border-radius: 5px !important;
        padding: 4px !important;
    }
</style>


<div class="col right white-text valign-wrapper" style="background-image: url('http://45.79.193.68/wp-content/themes/twig-wp-theme/static/ribbon_newsletter.png'); background-size: 100% 120%;">
    <ul style="padding: 0px 15px 0px 45px; margin: 5px 0px 5px 0px">
        <li style="margin: 5px 0px;">
            <div>
                <span style="font-size: 13pt">Get the Latest </span>
                <input type="text" name="fname" placeholder="First Name" class="special-input grey-font">
                <input type="text" name="email" placeholder="Email" class="special-input">
            </div>
        </li>
        <li class="valign white-text" style="font-size: 13pt; padding: 0px 20px 0px 0px; margin: 5px 0px;">Subscribe</li>
        <li><a class="valign"><img src={{facebook}} style="height: 30px; padding: 0"></img></a></li>
        <li><a class=" valign"><img src={{instagram}} style="height: 30px"></img></a></li>
        <li><a class="valign"><img src={{twitter}} style="height: 30px"></img></a></li>
        <li><a class="valign"><img src={{youtube}} style="height: 30px"></img></a></li>
    </ul>
</div>