<style>
    li {
        float: left;
    }

    a {
        display: block;
        padding: 2px;
    }

    input {
        display: block;
        padding: 2px;
    }
</style>


<div class="col right white-text valign-wrapper" style="background-image: url('http://45.79.193.68/wp-content/themes/twig-wp-theme/static/ribbon_newsletter.png'); background-size: 100% 100%;">
    <ul style="padding: 0px 15px 0px 45px;">
        <li>
            <a class="valign white-text">OPT IN TO NEWSLETTER</a>
        </li>
        <li><a class="hoverable valign">Facebook</a></li>
        <li><a class="hoverable valign">Instagram</a></li>
        <li><a class="hoverable valign">Twitter</a></li>
        <li><a class="hoverable valign">Youtube</a></li>
    </ul>
</div>