{#Needs Styling and alignment#}

<div style="padding-top: 9%" class="footer-copyright no-wrap grey-background">
<div class="container">
    <span style="padding-right: 200px" class="left">All Rights Reserved.</span>
    <span class="center ">Built By: Long Live Simple & Anthony Garera</span>
    <span class="right">Copyright {{ "now"|date('Y') }} </span>
</div>
</div>