{#Needs Styling and alignment#}

<div class="container grey-background">
    <span class="col s12 m4">All Rights Reserved.</span>
    <span class="col s12 m4">Built By: Long Live Simple & Anthony Garera</span>
    <span class="col s12 m4">Copyright {{ "now"|date('Y') }} </span>

</div>