{#Needs Styling and alignment#}
<br></br>
<div class="blue-border center" style="height: 25px; z-index: 3; position: relative">
        <img class="flexWidth" style="transform: translate(0px, -40px);" src={{RibbonCenter}} alt="Contact Julia">
    </div>

<div style="padding-top: 8%" class="footer-copyright no-wrap grey-background">
    <span class="left-align">All Rights Reserved. Copyright {{ "now"|date('Y') }} </span>
<div class="center-align">
    
  <span class="">Built By: <img src={{lls | resize(100)}}></img> & Anthony Garera</span>
</div>
</div>