{#Needs Styling and alignment#}
<div style="background-color: #ebecec">
 <p>
<span class="left">All Rights Reserved.</span>
<span class="center">Built By: Long Live Simple & Anthony Garera</span>
 <span class="right">Icons</span>
 </p>


Copyright {{"now"|date('Y')}}

</div>