<style>
    .image-style{
        display: block;
        margin: auto;
        height: 30px;
    }

    .nav-text{
        font-size: 10pt;
    }

    .no-padding{
        padding: 25px
    }

    .menufont {
        font-family: 'Josefin Sans', sans-serif;
    }

</style>

<div class="flex-container">

<div class="col hoverable right flex-item">
    <a href="" class="blue-font nav-text no-padding">
        <img class="image-style"
             src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/MeetJulia.png"
             onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/MeetJulia_green.png'"
             onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/MeetJulia.png'">
        <span class="menufont">MEET JULIA</span></a>
</div>

<div class="col hoverable right no-padding flex-item">
    <a href="/Gallery" class="truncate blue-font nav-text">
        <img class="image-style"
             src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Gallery.png"
             onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Gallery_green.png'"
             onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Gallery.png'">
        <span class="menufont">GALLERY</span></a>
</div>

<div class="col hoverable right no-padding flex-item">
    <a href=/upcoming-trips" class="truncate blue-font nav-text">
        <img class="image-style"
             src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/upcomingtrips.png"
             onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/UpcomingTrips_green.png'"
             onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/upcomingtrips.png'">
        UPCOMING TRIPS</a>
</div>

<div class="col hoverable right no-padding flex-item">
    <a href="/services" class="truncate blue-font nav-text">
        <img class="image-style"
             src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/services.png"
             onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Services_green.png'"
             onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/services.png'">
        SERVICES</a>
</div>

<div class="col hoverable right no-padding flex-item">
    <a href="/tips-guides" class="truncate blue-font nav-text">
        <img class="image-style"
             src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/tipsandguides.png"
             onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/TipsandGuides_green.png'"
             onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/tipsandguides.png'">
        TIPS & GUIDES</a>
</div>

<div class="col hoverable right no-padding flex-item">
    <a href="/Testimonials" class="truncate blue-font nav-text">
        <img class="image-style"
             src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Testimonials.png"
             onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Testimonials_green.png'"
             onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Testimonials.png'">
        TESTIMONIALS</a>
</div>

<div class="col hoverable right no-padding flex-item">
    <a href="/stories-from-the-road" class="truncate blue-font nav-text">
        <img class="image-style"
             src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/StoriesfromtheRoad.png"
             onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/StoriesfromtheRoad_green.png'"
             onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/StoriesfromtheRoad.png'">
        STORIES <span style="font-size: 8pt">FROM THE</span> ROAD</a>
</div>
{#This is a proper A tag follow this#}
<div class="col hoverable right no-padding flex-item">
    <a href="/destinations" class="truncate blue-font nav-text">
        <img class="image-style"
             src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/destinations.png"
             onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Destinations_green.png'"
             onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/destinations.png'">
        DESTINATIONS</a>
</div>

</div>