<div class="col hoverable right">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/MeetJulia.png">
    <a href="" class="truncate blue-font">MEET JULIA</a>
</div>

<div class="col hoverable right">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Gallery.png">
    <a href="" class="truncate blue-font">GALLERY</a>
</div>

<div class="col hoverable right">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/upcomingtrips.png">
    <a href="" class="truncate blue-font">UPCOMING TRIPS</a>
</div>

<div class="col hoverable right">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/services.png">
    <a href="" class="truncate blue-font">SERVICES</a>
</div>

<div class="col hoverable right">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/tipsandguides.png">
    <a href="" class="truncate blue-font">TIPS & GUIDES</a>
</div>

<div class="col hoverable right">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Testimonials.png">
    <a href="" class="truncate blue-font">REVIEWS</a>
</div>

<div class="col hoverable right">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/StoriesfromtheRoad.png">
    <a href="" class="truncate blue-font">STORIES FROM THE ROAD</a>
</div>

<div class="col hoverable right">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/destinations.png">
    <a href="" class="truncate blue-font">DESTINATIONS</a>
</div>
