<div class="col hoverable right">
    <a href="" class="truncate blue-font">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/MeetJulia.png"
         onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/MeetJulia_green.png'"
         onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/MeetJulia.png'">
    MEET JULIA</a>
</div>

<div class="col hoverable right">
    <a href="/Gallery" class="truncate blue-font">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Gallery.png"
         onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Gallery_green.png'"
         onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Gallery.png'">
    GALLERY</a>
</div>

<div class="col hoverable right">
    <a href=/upcoming-trips" class="truncate blue-font">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/upcomingtrips.png"
         onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/UpcomingTrips_green.png'"
         onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/upcomingtrips.png'">
    UPCOMING TRIPS</a>
</div>

<div class="col hoverable right">
    <a href="/services" class="truncate blue-font">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/services.png"
         onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Services_green.png'"
         onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/services.png'">
    SERVICES</a>
</div>

<div class="col hoverable right">
    <a href="/tips-guides" class="truncate blue-font">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/tipsandguides.png"
         onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/TipsandGuides_green.png'"
         onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/tipsandguides.png'">
    TIPS & GUIDES</a>
</div>

<div class="col hoverable right">
    <a href="/reviews" class="truncate blue-font">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Testimonials.png"
         onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Testimonials_green.png'"
         onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Testimonials.png'">
    REVIEWS</a>
</div>

<div class="col hoverable right">
    <a href="/stories-from-the-road" class="truncate blue-font">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/StoriesfromtheRoad.png"
         onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/StoriesfromtheRoad_green.png'"
         onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/StoriesfromtheRoad.png'">
    STORIES FROM THE ROAD</a>
</div>
{#This is a proper A tag follow this#}
<div class="col hoverable right">
	<a href="/destinations" class="truncate blue-font">
    <img style="display: block;margin: auto;height: 50px;" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/destinations.png"
         onmouseover="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Destinations_green.png'"
         onmouseout="this.src='http://45.79.193.68/wp-content/themes/twig-wp-theme/static/destinations.png'">
		DESTINATIONS</a>
</div>
