<style>
    .image-style{
        display: block;
        margin: auto;
        height: 30px;
    }
    
    .image-style-hover{
        display: block;
        height: 50px;
        padding: none;
    }
    
    /*.hide-marg{*/
    /*    margin: 0px;*/
    /*}*/
    

    .nav-text{
        font-size: 9pt;
    }

    .no-padding{
        padding: 25px
    }

    .menufont {
        font-family: 'Josefin Sans', sans-serif;
    }

    .sanchez {
        font-family: 'Sanchez', sans-serif;
        color: #848787;
    }
    
    .right{
        padding: 0.3% !important;
    }
    
    .flex-container {
        flex-direction: row-reverse;
        padding: 0 !important ;
        margin: 0;
        
    }

</style>

<script type="text/javascript" src="//app.icontact.com/icp/static/form/javascripts/validation.js"></script>

<script type="text/javascript" src="//app.icontact.com/icp/static/form/javascripts/tracking.js"></script>


<div class="" style="padding: 0">
<div class="col right" style="margin-right: 10px">
    <a href="/meet-julia" class="truncate blue-font nav-text">
        <img class="image-style"
             src="/wp-content/themes/twig-wp-theme/static/MeetJulia.png"
             onmouseover="this.src='/wp-content/themes/twig-wp-theme/static/MeetJulia_green.png'"
             onmouseout="this.src='/wp-content/themes/twig-wp-theme/static/MeetJulia.png'">
        <span class="menufont">MEET JULIA</span></a>
</div>

<div class="col right">
    <a href="/Gallery" class="truncate blue-font nav-text">
        <img class="image-style"
             src="/wp-content/themes/twig-wp-theme/static/Gallery.png"
             onmouseover="this.src='/wp-content/themes/twig-wp-theme/static/Gallery_green.png'"
             onmouseout="this.src='/wp-content/themes/twig-wp-theme/static/Gallery.png'">
        <span class="menufont">GALLERY</span></a>
</div>

<div class="col right">
    <a href="/upcoming-trips" class="truncate blue-font nav-text">
        <img class="image-style"
             src="/wp-content/themes/twig-wp-theme/static/upcomingtrips.png"
             onmouseover="this.src='/wp-content/themes/twig-wp-theme/static/UpcomingTrips_green.png'"
             onmouseout="this.src='/wp-content/themes/twig-wp-theme/static/upcomingtrips.png'">
        <span class="menufont">UPCOMING TRIPS</span></a>
</div>

<div class="col right">
    <a href="/services" class="truncate blue-font nav-text">
        <img class="image-style"
             src="/wp-content/themes/twig-wp-theme/static/services.png"
             onmouseover="this.src='/wp-content/themes/twig-wp-theme/static/Services_green.png'"
             onmouseout="this.src='/wp-content/themes/twig-wp-theme/static/services.png'">
        <span class="menufont">SERVICES</span></a>
</div>

<div class="col right">
    <a href="/tips-guides" class="truncate blue-font nav-text ">
        <img class="image-style"
             src="/wp-content/themes/twig-wp-theme/static/tipsandguides.png"
             onmouseover="this.src='/wp-content/themes/twig-wp-theme/static/TipsandGuides_green.png'"
             onmouseout="this.src='/wp-content/themes/twig-wp-theme/static/tipsandguides.png'">
        <span class="menufont">TIPS & GUIDES</span></a>
</div>

<div class="col right">
    <a href="/Testimonials" class="truncate blue-font nav-text ">
        <img class="image-style"
             src="/wp-content/themes/twig-wp-theme/static/Testimonials.png"
             onmouseover="this.src='/wp-content/themes/twig-wp-theme/static/Testimonials_green.png'"
             onmouseout="this.src='/wp-content/themes/twig-wp-theme/static/Testimonials.png'">
        <span class="menufont">TESTIMONIALS</span></a>
</div>

<div class="col right">
    <a href="/stories-from-the-road" class="truncate blue-font nav-text">
        <img class="image-style"
             src="/wp-content/themes/twig-wp-theme/static/StoriesfromtheRoad.png"
             onmouseover="this.src='/wp-content/themes/twig-wp-theme/static/StoriesfromtheRoad_green.png'"
             onmouseout="this.src='/wp-content/themes/twig-wp-theme/static/StoriesfromtheRoad.png'">
        <span class="menufont">STORIES <span style="font-size: 8pt">FROM THE</span> ROAD</span></a>
</div>
{#This is a proper A tag follow this#}
<div class="col right">
    <a href="/destinations" class="truncate blue-font nav-text">
        <img class="image-style"
             src="/wp-content/themes/twig-wp-theme/static/destinations.png"
             onmouseover="this.src='/wp-content/themes/twig-wp-theme/static/Destinations_green.png'"
             onmouseout="this.src='/wp-content/themes/twig-wp-theme/static/destinations.png'">
        <span class="menufont">DESTINATIONS</span></a>
</div>
</div>
<script>
    $('.image-style').hover(
       function(){ $(this).addClass('image-style-hover') },
       function(){ $(this).removeClass('image-style-hover') }
)

    $('#bottom-row').hover(
       function(){ $(this).addClass('hide-marg') },
       function(){ $(this).removeClass('hide-marg') }
)

</script>