{% extends "base.twig" %}

{% block content %}
<div class="container row">

<h4>TIPS:</h4>
<ul class="collection">

<li class="collection-item">City Overviews</li>

<li class="collection-item">       Destination Spotlights</li>

<li class="collection-item">       Logistical Tips</li>

<li class="collection-item">       Partner Highlights</li>

<li class="collection-item">       Travel Ideas</li>

<li class="collection-item">       Reviews – Tours / Hotels</li>
</ul>
</div>

<div class="container row grey-background">
<h4>GUIDES:</h4>
    
</div>
    
{% endblock %}