{% extends "base.twig" %}

{% block content %}
    {% include 'quote.twig' %}

    <section class="container top-padding"><H3 class="blue-font">Stories From The Road</H5>
    </section>
    <br>

    <div style="border-width: 4px" class="container blue-square-border border center"> This portion of the page has
        lots of blog posts.
    </div>

<br></br>
{% endblock %}