{% extends "base.twig" %}

{% block content %}

<style>
    .carousel-image{
            height: auto;
           background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            
        }
        
        .searchbox-input {
            width:92%;
        }
        
        .fa-search {
            display:none;
        }
        
        /*.reblock {*/
        /*    margin: 3px !important;*/
        /*}*/

        /*.preview-block {*/
        /*    margin: 3px !important;*/
        /*}*/
        
        .reactive-input: {
            padding: 0px !important;
        }
        .searchbox-input input: {
            padding: 0px !important;
            width: 100% !important;
        }
</style>
<div class="slider-for carousel-image">
      <div><img class="responsive-img" src={{stories}} /></div>
</div>
    {% include "storyfromtheroad.twig" %}

    
    <br>


    <div style="padding: 3% ; border-width: 4px; width= 100%" class="blue-square-border border center article">

        <div class="center-align sanchez" style="width: 100%">{{ post.content(1) }}</div>
                
    </div> <br></br>
 {#       {% for post in storyposts %}#}
	{#	{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}#}
	{#{% endfor %}#}
        {# This portion of the page has#}
        {#lots of blog posts.#}
    

<br></br>
{% endblock %}