{% extends "base.twig" %}

{% block content %}
    
    
<!-- Styles -->
<style>
    #mapdiv {
        width: 100%;
        height: 500px;
        background: #eee;
    }
    
</style>

<!-- Resources -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/ammap.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/responsive/responsive.min.js"></script>
    <!-- Chart code -->
<script>
    var map = AmCharts.makeChart( "mapdiv", {
        /**
         * this tells amCharts it's a map
         */
        "type": "map",
        
        /**
         * create data provider object
         * map property is usually the same as the name of the map file.
         * getAreasFromMap indicates that amMap should read all the areas available
         * in the map data and treat them as they are included in your data provider.
         * in case you don't set it to true, all the areas except listed in data
         * provider will be treated as unlisted.
         */
        "dataProvider": {
            "map": "worldLow",
            "areas": [
                { "id": "AU" },
                { "id": "US" },
                { "id": "FR" },
                { "id": "NZ" },
                { "id": "PYF" },
                { "id": "HRV" },
                { "id": "CA" },
                { "id": "MX" },
                { "id": "ES" },
                { "id": "IT" },
                { "id": "GB" },
                { "id": "DE" },
                { "id": "AT" },
                { "id": "CZ" },
                { "id": "HU" },
                { "id": "GR" },
                { "id": "CH" },
                { "id": "NL" },
                { "id": "BE" },
                { "id": "EG" },
                { "id": "JO" },
                { "id": "TH" },
                { "id": "VN" },
                { "id": "LA" },
                { "id": "KH" },
                { "id": "CN" },
                { "id": "MY" },
                { "id": "MT" },
                { "id": "IN" },
                { "id": "PF" },
                { "id": "LU" },
                { "id": "CR" },
                { "id": "EC" },
                { "id": "VA" },
                { "id": "MC" },
                { "id": "HR" },
                { "id": "SI" },
                { "id": "BL" },
                { "id": "JM" },
                { "id": "DO" },
                { "id": "SG" },
                { "id": "ID" },
                

            ]
        },
        
         "objectList": {
            "container": "listdiv"
          },

        /**
         * create areas settings
         * autoZoom set to true means that the map will zoom-in when clicked on the area
         * selectedColor indicates color of the clicked area.
         */
        "areasSettings": {
            "autoZoom": true,
            "color": "#3c4768",
            "rollOverOutlineColor": "#bfd9cc",
            "selectedColor": "#bfd9cc"
        },
// TODO use this color for all visited countries #3c4768
        /**
         * let's say we want a small map to be displayed, so let's create it
         */
        "smallMap": {}
    } );
    
    
</script>
<script>
    
var currentItem;

map.addListener("rollOverMapObject", function(event) {
  var list = document.getElementById('listdiv').getElementsByTagName('a');
  for (var key in list) {
    if (list[key].innerText == event.mapObject.title) {
      list[key].className = 'selected';
      currentItem = list[key];
    }
  }
});

map.addListener("rollOutMapObject", function(event) {
  currentItem.className = '';
});

map.addListener("clickMapObject", function(event) {
    // alert("https://twig-twj-amgmetallica.c9users.io/tag/" + event.mapObject.id.toLowerCase());
    $("#contentMapNonVulgar").show(1);
});
    
</script>
 <style>
        /*.carousel-image{*/
        /*    height: 500px;*/
        /*   background-position: center center;*/
        /*    background-repeat: no-repeat;*/
        /*    overflow: hidden;*/
        /*}*/
        
        #listdiv li a {
          padding: 3px 10px;
          display: block;
          cursor: pointer;
          font-size: 15pt;
        }
        
        #listdiv li  {
          width: 100%;
        }

        #listdiv li a:hover {
            color: white;
            background: #3c4768;
            
        }
    </style>
    {#USe this to do the links https://www.amcharts.com/kbase/displaying-information-clicked-map-object-outside-map/#}
    {#This too https://www.amcharts.com/kbase/ajax-loading-content-description-box-click-map-object/#}
    {#https://www.amcharts.com/kbase/open-custom-urls-fancybox-modal-country-click/#}
    {#We want this one so when the user clicks on the country in the sidebar it zooms in on the country https://www.amcharts.com/kbase/two-way-syncing-hovers-map-areas-object-list/#}
    {# This one is so then it opens up the page of posts taged whatever country it is https://www.amcharts.com/kbase/map-zoom-first-click-marker-go-specific-url-next-click/#}
    <script>
         
    </script>

<div class="slider-for carousel-image">
      <div><img class="responsive-img" src={{destinations}} /></div>
</div>

<!-- HTML -->
<div style="z-index: 3; position: relative" class="">
    
    
    
    
    <br></br>
    <img src={{countryBanner | resize(400)}}></img>
<div class="row">
    
    <div class="col s3" id="listdiv" style="height: 400px; overflow:hidden; overflow-y:scroll;">
       
    </div>
    
    <div id="mapdiv" style="width: 70%; height: 400px;" class="col s9"></div>
</div>

    <div id="contentMapNonVulgar" style="padding: 3% ; border-width: 4px; margin-bottom: 50px;" class="container blue-square-border border sanchez">
        {#{{storyposts}}#}
    </div>
</div>
{% endblock %}