{% extends "base.twig" %}

{% block content %}

<style>
    
    h5:hover{
        color: #3c4768;
    }
    
   .forceful {
       overflow: hidden;
    white-space: pre;
    
    
   }
   
   .tabs .indicator {
    background-color: #3c4768;
}

.tabs .tab a {
  color: #3c4768;
}

.tabs .tab a.active {
  color:  #3c4768;
}

.tabs .tab a:hover {
  color: #3c4768;
}


.tabs-vertical .tabs {
  height: auto;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }
.tabs-vertical .tab {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  float: left;
  text-align: left;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-overflow: ellipsis; }
  .tabs-vertical .tab .active {
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    -webkit-transition: border-color .5s ease;
    transition: border-color .5s ease;
    border-right: 3px solid #3c4768;
    color: #3f51b5; }
  .tabs-vertical .tab a {
    color: #3c4768;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color 0.28s ease;
    -moz-transition: color 0.28s ease;
    -o-transition: color 0.28s ease;
    -ms-transition: color 0.28s ease;
    transition: color 0.28s ease; }
    .tabs-vertical .tab a:hover {
      color: #3c4768; }
  .tabs-vertical .tab.disabled a {
    color #3c4768;
    cursor: default; }
.tabs-vertical .indicator {
  display: none; }
  
  
  .side {
     margin: 0 2%;
  }
</style>

<div class="slider-for carousel-image">
      <div><img class="responsive-img" src={{tipsguide}} /></div>
</div>
<div class="grey-background quote-padding">
    <div class="sanchez">
    <div>Browse through the different sections for videos and articles giving you information on different cities, practical travel tips, hotel and tour reviews, and of course good old fashioned travel inspiration. My regular readers get this kind of information weekly, so remember to subscribe above to get your regular fix!</div>
    <div><img src={{sig | resize(100)}}></img></div>
    </div>
</div>
<div class="row">
    <br></br>
    <img class="hide-on-med-and-down" src={{explorecategory | resize(500)}}></img>
    <div class="side">
        <br></br>
        
        <img class="hide-on-large-only" src={{explorecategory | resize(250)}}></img>

    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#contentCity')">City Overviews</h5>
    
    <div id="contentCity">
        
        <div class="tabs-vertical row">
            <div class="col s4 m3 l2">
                <ul class="tabs">
                   <li class="tab"><a class="active" href="#videoCity">Videos</a></li>
                <li class="tab"><a href="#articleCity">Articles</a></li>
                </ul>
             </div>
             <div class="col s8 m9 l6">
                  <div id="videoCity">
                     {% filter shortcodes %}
                   [embedyt] https://www.youtube.com/embed?listType=playlist&list=PLEIugdTDCA6pSqhbLl2HOLWriZAZvf5sl&layout=gallery[/embedyt]
                     {% endfilter %}
                 </div>
                  <div id="articleCity">
                     {% filter shortcodes %}
                     [the-post-grid id="150" title="City Overview"]
                    {#[the-post-grid id="2750" title="City Overview"]#}
                     {% endfilter %}
                 </div>
             </div>
        </div>
        
        {#<div class="col s12">#}
        {#      <ul class="tabs">#}
        {#        <li class="tab col s3"><a class="active" href="#videoCity">Videos</a></li>#}
        {#        <li class="tab col s3"><a href="#articleCity">Articles</a></li>#}
        {#      </ul>#}
        {#</div>#}
        {#<div id="videoCity">#}
        {#     {% filter shortcodes %}#}
        {#   [embedyt] https://www.youtube.com/embed?listType=playlist&list=PLEIugdTDCA6pSqhbLl2HOLWriZAZvf5sl&layout=gallery[/embedyt]#}
        {#     {% endfilter %}#}
        {# </div>#}
        {# <div id="articleCity">#}
        {#     {% filter shortcodes %}#}
        {#    [the-post-grid id="2750" title="City Overview"]#}
        {#     {% endfilter %}#}
        {# </div>#}
    </div>
    <br></br>
    
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#contentDestination')">Destination Spotlights</h5>
    
    <div id="contentDestination">
        
        <div class="tabs-vertical row">
            <div class="col s4 m3 l2">
                <ul class="tabs">
                    <li class="tab"><a class="active" href="#videoDestination">Videos</a></li>
                    <li class="tab"><a href="#articleDestination">Articles</a></li>
                </ul>
             </div>
             <div class="col s8 m9 l6">
                  <div id="videoDestination">
                        {% filter shortcodes %}
                        [embedyt] https://www.youtube.com/embed?listType=playlist&list=PLEIugdTDCA6rmK_8Bfh-BxzbaN5cldVn8&layout=gallery[/embedyt]
                        {% endfilter %}
                     </div>
                     <div id="articleDestination">
                         {% filter shortcodes %}
                         [the-post-grid id="150" title="City Overview"]
                        {#[the-post-grid id="2703" title="Destination Tips"]#}
                         {% endfilter %}
                     </div>
             </div>
        </div>
        
        {#<div class="col s12">#}
        {#      <ul class="tabs">#}
        {#        <li class="tab col s3"><a class="active" href="#videoDestination">Videos</a></li>#}
        {#        <li class="tab col s3"><a href="#articleDestinationg">Articles</a></li>#}
        {#      </ul>#}
        {#</div>#}
        {#<div id="videoDestination">#}
        {#    {% filter shortcodes %}#}
        {#    [embedyt] https://www.youtube.com/embed?listType=playlist&list=PLEIugdTDCA6rmK_8Bfh-BxzbaN5cldVn8&layout=gallery[/embedyt]#}
        {#    {% endfilter %}#}
        {# </div>#}
        {# <div id="articleDestination">#}
        {#     {% filter shortcodes %}#}
        {#    [the-post-grid id="2703" title="Destination Tips"]#}
        {#     {% endfilter %}#}
        {# </div>#}
    </div>
    <br></br>
    
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#contentLogic')">Logistical Tips</h5>
    <div id="contentLogic" class="">
        {% filter shortcodes %}
        [embedyt] https://www.youtube.com/embed?listType=playlist&list=PLEIugdTDCA6rT77oVWpYzaRXRJut70-Xd&layout=gallery[/embedyt]
        {% endfilter %}
    </div>
    <br></br>
    
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#contentPartner')">Partner Highlights</h5>
    
    <div id="contentPartner" href="#contentPartner">
        
        <div class="tabs-vertical row">
            <div class="col s4 m3 l2">
                <ul class="tabs">
                    <li class="tab"><a href="#videoPartner">Videos</a></li>
                    <li class="tab"><a href="#articlePartner">Articles</a></li>
                </ul>
             </div>
             <div class="col s8 m9 l6">
                   <div id="videoPartner">
                        {% filter shortcodes %}
                        [embedyt] https://www.youtube.com/embed?listType=playlist&list=PLEIugdTDCA6qBCmoLfiGdWEd0CN5YKP_K&layout=gallery[/embedyt]
                        {% endfilter %}
                     </div>
                     <div id="articlePartner">
                         {% filter shortcodes %}
                        [the-post-grid id="2752" title="Partner Highlights"]
                         {% endfilter %}
                     </div>
             </div>
        </div>
        
        
        {#<div class="col s12">#}
        {#      <ul class="tabs">#}
        {#        <li class="tab col s3"><a class="active" href="#videoPartner">Videos</a></li>#}
        {#        <li class="tab col s3"><a href="#articlePartner">Articles</a></li>#}
        {#      </ul>#}
        {#</div>#}
        {#<div id="videoPartner">#}
        {#    {% filter shortcodes %}#}
        {#    [embedyt] https://www.youtube.com/embed?listType=playlist&list=PLEIugdTDCA6qBCmoLfiGdWEd0CN5YKP_K&layout=gallery[/embedyt]#}
        {#    {% endfilter %}#}
        {# </div>#}
        {# <div id="articlePartner">#}
        {#     {% filter shortcodes %}#}
        {#    [the-post-grid id="2752" title="Partner Highlights"]#}
        {#     {% endfilter %}#}
        {# </div>#}
    </div>
    <br></br>
    
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#contentIdeas')">Travel Ideas</h5>
    
    <div id="contentIdeas">
         {% filter shortcodes %}
            [embedyt] https://www.youtube.com/embed?listType=playlist&list=PLEIugdTDCA6qaEJHQEWHPiI989hb9xUJt&layout=gallery[/embedyt]
            {% endfilter %}
    </div>
    <br></br>
    
    <h5 class="menufont" onMouseOver="this.style.cursor='pointer'" onClick="showBox('#contentReview')">Reviews – Tours / Hotels</h5>
    
    <div id="contentReview">
        
        <div class="tabs-vertical row">
            <div class="col s4 m3 l2">
                <ul class="tabs">
                     <li class="tab"><a class="active" href="#videoReview">Videos</a></li>
                    <li class="tab"><a href="#articleReview">Articles</a></li>
                </ul>
             </div>
             <div class="col s8 m9 l6">
                <div id="videoReview">
                    {% filter shortcodes %}
                    [embedyt] https://www.youtube.com/embed?listType=playlist&list=PLEIugdTDCA6pffBFoSa4Fwug-ypkLo2wx&layout=gallery[/embedyt]
                     {% endfilter %}
                 </div>
                 <div id="articleReview">
                     {% filter shortcodes %}
                    [the-post-grid id="2754" title="Reviews"]
                     {% endfilter %}
                 </div>
             </div>
        </div>
        
        {#<div class="col s12">#}
        {#      <ul class="tabs">#}
        {#        <li class="tab col s3"><a class="active" href="#videoReview">Videos</a></li>#}
        {#        <li class="tab col s3"><a href="#articleReview">Articles</a></li>#}
        {#      </ul>#}
        {#</div>#}
        {#<div id="videoReview">#}
        {#    {% filter shortcodes %}#}
        {#    [embedyt] https://www.youtube.com/embed?listType=playlist&list=PLEIugdTDCA6pffBFoSa4Fwug-ypkLo2wx&layout=gallery[/embedyt]#}
        {#     {% endfilter %}#}
        {# </div>#}
        {# <div id="articleReview">#}
        {#     {% filter shortcodes %}#}
        {#    [the-post-grid id="2754" title="Reviews"]#}
        {#     {% endfilter %}#}
        {# </div>#}
    </div>

    <br></br>
</div>
</div>
<script>

    $("#contentCity").hide();
    $("#contentDestination").hide();
    $("#contentLogic").hide();
    $("#contentPartner").hide();
    $("#contentIdeas").hide();
    $("#contentReview").hide();
    
    
    function showBox(id){
        console.log(id)
    
        $(id).toggle();
        
    }
    
</script>
    
{% endblock %}