{% extends "base.twig" %}

{% block content %}

<div class="slider-for carousel-image">
      <div><img class="responsive-img" src={{services}} /></div>
</div>
    {% include 'quote.twig' %}

    <section class="container top-padding"><H5 class="blue-font">MENU OF SERVICES & FEES:</H5>
    </section>
    <br>

    <div style="padding: 3% ; border-width: 4px" class="container blue-square-border border">
        <p>
        <h5 class="service-title-font"><span class="grey-font">Flight-only bookings:</span> <span class="blue-font">$50 per person</span></h5>
           <p class="service-content-font"> If you don't want to spend the time booking your flights for business or to go see family, I'll take care of it for you - and might be able to get you a better rate than you can find online!</p>

        <h5 class="service-title-font"><span class="grey-font">Consultation-Only:</span> <span class="blue-font">$100/hour</span></h5>
            <p class="service-content-font">If you just want advice on your itinerary, or where to stay, I'm happy to help shed some light on your destination.</p>

        <h5 class="service-title-font"><span class="grey-font">Simple Independent Package (under $5000 in bookings):</span> <span class="blue-font">$100 per person</span></h5>
           <p class="service-content-font"> If you want to go to Paris (or Rome, or London, etc) for a week on your own, I'm your girl!  A hotel perfect for your tastes in a great neighborhood, complete with everything from airport transfers to restaurant reservations.
           </p>
        <h5 class="service-title-font"><span class="grey-font">Complex Independent Package (between $5000 and $15,000 in bookings):</span> <span class="blue-font">$250 per person</span></h5>
            <p class="service-content-font">If you and some friends or family want to travel around Europe (or Southeast Asia, or Australia, etc) for a few weeks, complete with train tickets or rental car, day tours, and a variety of accommodations, that can of course be arranged, but can take a bit more time.
                Cruises or Escorted Tour Packages: $100 per person
                If you're interested in more hassle-free travel with guides, transport, and meals included, there are tons of wonderful options out there, and I can help advise which trip would fit you best.
            </p>
        <h5 class="service-title-font"><span class="grey-font">Group Travel:</span> <span class="blue-font"> No Fee</span></h5>
            <p class="service-content-font">Family reunion?  Vow renewal celebration?  Austen-fanatics group trip to England?  I have tons of resources (and discounts) at my disposal to help with planning travel for groups of people (as small as 8 people and up) - definitely give me a call.
                NOTE:  All fees are of course subject to change and open for negotiation.</p>
        </p>
    </div>
 <br></br>
 {#Soruce - https://stackoverflow.com/questions/40065585/a-solution-for-grouping-items-in-loop-with-timber-and-twig #}
{#<img src={{gallery}} alt="Image for "/>#}

{# number of element for every section #}


{% endblock %}