{% extends "base.twig" %}

{% block content %}
{#Slider#}
    <!-- Place somewhere in the <body> of your page -->
    {#<div class="flexslider card-image">#}
        {#<ul class="slides">#}
            {#<li data-thumb="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/BEL%2B-%2BBurssels%2B-%2BGrand%2BPlace6.jpg">#}
                {#<img class="responsive-img" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/BEL%2B-%2BBurssels%2B-%2BGrand%2BPlace6.jpg" />#}
                {#<p class="flex-caption">Adventurer Cheesecake Brownie</p>#}
            {#</li>#}
            {#<li data-thumb="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/AT%2B-%2BVienna%2Bx2%2B01.jpg">#}
                {#<img src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/AT%2B-%2BVienna%2Bx2%2B01.jpg" />#}
            {#</li><li data-thumb="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/BEL%2B-%2BBurssels%2B-%2BGrand%2BPlace6-resize.png">#}
                {#<img src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Bel-resize.png" />#}
            {#</li>#}
        {#</ul>#}
    {#</div>#}

    <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-fixed-item center">
            <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>
        <div class="carousel-item red white-text" href="#one!">
            <h2>First Panel</h2>
            <img class="responsive-img" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/BEL%2B-%2BBurssels%2B-%2BGrand%2BPlace6.jpg" />
        </div>
        <div class="carousel-item amber white-text" href="#two!">
            <h2>Second Panel</h2>
            <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
            <h2>Third Panel</h2>
            <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
            <h2>Fourth Panel</h2>
            <p class="white-text">This is your fourth panel</p>
        </div>
    </div>

<div class="grey-background">
    <section class="container"> <H5 class="blue-font" >IF YOU'RE THE KIND OF TRAVELER WHO:</H5>
    <ul>
        <li>• Wants to experience the true destination, not just the tourist traps</li>
        <li>• Wants to travel in a relaxed fashion, allowing for plenty of time to explore with all five senses</li>
        <li>• Doesn't want to do what "everyone else does", yet still wants to understand why the famous things are important</li>
        <li>• Want to discover the "je ne sasis quoi" of a place - that special something that makes it unique and special</li>


    </ul>


    </section>

    <div class="clearfix mb2" style="border-bottom: #3c4768 20px">
        {#TODO CSS Ribbon Goes here or IMG File whichever is easier#}
        <div class="left p3 mr1 border">Ribbon Here</div>
        <div class="left p2 mr1 circle"><img class="materialboxed" width="150" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Julia.png"></div>
        <div class="overflow-hidden">
            <p><b class="blue-font">THEN</b> you're looking to <b class="blue-font">"TRAVEL JULIA'S WAY"!</b> I meticulously craft great days for busy people who've
                graduated from DIY backpacker style traveling, but who still want to experience real culture so that they understand
                and experience that people are people no matter where they are in the world</p>
        </div>

    </div>
    {#Blue Border Line#}
    <div class="blue-border" style="height: 25px;"></div>
</div>
{#3 Ways to Travel Section#}

        <section class="container top-padding"> <H5 class="blue-font">THERE ARE THREE WAYS TO "TRAVEL JULIA'S WAY":</H5>
        </section>
    <br>

    {#Promo Table Styling#}
    <div style="padding-bottom: 9%" class="row container">
        <div class="col s12 l4">
            <div class="center promo promo-example">
                <img class="flexWidth" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Icon1.png" alt="Resources">
                <p class="promo-caption">1. Use my free resources!</p>
                <button class="btn not-rounded grey">EXPLORE TIPS & GUIDES ></button>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="center promo promo-example">
                <img class="flexWidth" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Icon2.png" alt="Resources">
                <p class="promo-caption">2. Hire me to plan your next trip</p>
                <button class="btn not-rounded grey">REVIEW MY SERVICES ></button>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="center promo promo-example">
                <img class="flexWidth" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/Icon3.png" alt="Resources">
                <p class="promo-caption">3. Travel with me!</p>
                <button class="btn not-rounded grey">SEE UPCOMING TRIPS ></button>
            </div>
        </div>
    </div>

    <div class="blue-border center" style="height: 25px;">
        <img class="flexWidth" src="http://45.79.193.68/wp-content/themes/twig-wp-theme/static/ribbon_newsletter.png" alt="Contact Julia">
    </div>


    {#<div class="content-wrapper center container">#}
        {#<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">#}
            {#<section class="article-content left-align">#}
                {#<h1 class="article-h1">{{post.title}}</h1>#}
                {#<div class="article-body">#}
                    {#{{post.content}}#}
                {#</div>#}
            {#</section>#}
        {#</article>#}
    {#</div><!-- /content-wrapper -->#}
{% endblock %}