{% extends "base.twig" %}

{% block content %}
    
    
<!-- Styles -->
<style>
    #mapdiv {
        width: 100%;
        height: 500px;
        background: #eee;
    }
    
</style>

<!-- Resources -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/ammap.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/responsive/responsive.min.js"></script>
    <!-- Chart code -->
<script>
    var map = AmCharts.makeChart( "mapdiv", {
        /**
         * this tells amCharts it's a map
         */
        "type": "map",
        
        /**
         * create data provider object
         * map property is usually the same as the name of the map file.
         * getAreasFromMap indicates that amMap should read all the areas available
         * in the map data and treat them as they are included in your data provider.
         * in case you don't set it to true, all the areas except listed in data
         * provider will be treated as unlisted.
         */
        "dataProvider": {
            "map": "worldLow",
            "areas": [
                { "id": "AU",
                    url:"/tag/australia"
                },
                { "id": "US",
                    url:"/tag/united-states"},
                { "id": "FR",
                    url:"/tag/france"
                },
                { "id": "NZ",
                    url:"/tag/new-zealand"},
                { "id": "HR",
                    url:"/tag/croatia"},
                { "id": "CA",
                    url:"/tag/canada" },
                { "id": "MX",
                    url:"/tag/mexico" },
                { "id": "ES",
                    url:"/tag/spain" },
                { "id": "IT",
                    url:"/tag/italy" },
                { "id": "GB",
                    url:"/tag/england" },
                { "id": "DE",
                    url:"/tag/germany" },
                { "id": "AT",
                    url:"/tag/austria" },
                { "id": "CZ",
                    url:"/tag/czech-republic" },
                { "id": "HU",
                    url:"/tag/hungary" },
                { "id": "GR",
                    url:"/tag/greece" },
                { "id": "CH",
                    url:"/tag/switzerland" },
                { "id": "NL",
                    url:"/tag/netherlands" },
                { "id": "BE",
                    url:"/tag/belgium" },
                { "id": "EG",
                    url:"/tag/egypt" },
                { "id": "JO",
                    url:"/tag/jordan" },
                { "id": "TH",
                    url:"/tag/thailand" },
                { "id": "VN",
                    url:"/tag/vietnam" },
                { "id": "LA",
                    url:"/tag/laos" },
                { "id": "KH",
                    url:"/tag/cambodia" },
                { "id": "CN",
                    url:"/tag/china" },
                { "id": "MY",
                    url:"/tag/malaysia" },
                { "id": "MT",
                    url:"/tag/malta" },
                { "id": "IN",
                    url:"/tag/india" },
                { "id": "PF",
                    url:"/tag/french-polynesia" },
                { "id": "LU",
                    url:"/tag/luxembourg" },
                { "id": "CR",
                    url:"/tag/costa-rica" },
                { "id": "EC",
                    url:"/tag/ecuador" },
                { "id": "VA",
                    url:"/tag/vatican-city"},
                { "id": "MC",
                    url:"/tag/monaco" },
                { "id": "SI",
                    url:"/tag/slovenia" },
                { "id": "BL",
                    url:"/tag/saint-barthelemy" },
                { "id": "JM",
                    url:"/tag/jamaica" },
                { "id": "DO",
                    url:"/tag/dominican-republic" },
                { "id": "SP",
                    url:"/tag/saint-barthelemy" },
                { "id": "ID",
                    url:"/tag/indonesia" },
                

            ]
        },
        
        //  "objectList": {
        //     "container": "listdiv"
        //   },

        /**
         * create areas settings
         * autoZoom set to true means that the map will zoom-in when clicked on the area
         * selectedColor indicates color of the clicked area.
         */
        "areasSettings": {
            "autoZoom": true,
            "color": "#3c4768",
            "rollOverOutlineColor": "#bfd9cc",
            "selectedColor": "#bfd9cc"
        },
// TODO use this color for all visited countries #3c4768
        /**
         * let's say we want a small map to be displayed, so let's create it
         */
        "smallMap": {}
    } );
    
</script>
<script>
    
var currentItem;

map.addListener("rollOverMapObject", function(event) {
  var list = document.getElementById('listdiv').getElementsByTagName('a');
  for (var key in list) {
    if (list[key].innerText == event.mapObject.title) {
      list[key].className = 'selected';
      currentItem = list[key];
      alert(id + "list")
    }
  }
});

map.addListener("rollOutMapObject", function(event) {
  currentItem.className = '';
});

map.addListener("clickMapObject", function(event) {
    // alert("https://twig-twj-amgmetallica.c9users.io/tag/" + event.mapObject.id.toLowerCase());
    // $("#contentMapNonVulgar").show(1);
//     $.fancybox({
//     href: event.mapObject.modalUrl,
//     title: event.mapObject.title,
//     type: "ajax"
//   });
});

function selectArea(select) {
    var id = select;
    console.log(id)
    if ( '' == id ) {
        map.clickMapObject(map.dataProvider);
    }
    else {
        map.clickMapObject(map.getObjectById(id));
    }
}
    
</script>
 <style>
        /*.carousel-image{*/
        /*    height: 500px;*/
        /*   background-position: center center;*/
        /*    background-repeat: no-repeat;*/
        /*    overflow: hidden;*/
        /*}*/
        
        #listdiv li a {
          padding: 3px 10px;
          display: block;
          cursor: pointer;
          font-size: 15pt;
        }
        
        #listdiv li  {
          width: 100%;
        }

        #listdiv li a:hover {
            color: white;
            background: #3c4768;
            
        }
    </style>
    {#USe this to do the links https://www.amcharts.com/kbase/displaying-information-clicked-map-object-outside-map/#}
    {#This too https://www.amcharts.com/kbase/ajax-loading-content-description-box-click-map-object/#}
    {#https://www.amcharts.com/kbase/open-custom-urls-fancybox-modal-country-click/#}
    {#We want this one so when the user clicks on the country in the sidebar it zooms in on the country https://www.amcharts.com/kbase/two-way-syncing-hovers-map-areas-object-list/#}
    {# This one is so then it opens up the page of posts taged whatever country it is https://www.amcharts.com/kbase/map-zoom-first-click-marker-go-specific-url-next-click/#}
    <script>
         
    </script>

<div class="slider-for carousel-image">
      <div><img class="responsive-img" src={{destinations}} /></div>
</div>

<!-- HTML -->
<div style="z-index: 3; position: relative" class="">
    
    
    
    
    <br></br>
    <img src={{countryBanner | resize(400)}}></img>
<div class="row">
    
    <div class="col s3 sanchez" id="listdiv" style="height: 400px; overflow:hidden; overflow-y:scroll;">
            
        <ul class="collapsible" style="width: 100%" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">Africa</div>
          <div class="collapsible-body">
              <ul>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('EG')">Egypt</li>  
              </ul>---------------
          </div>
        </li>
        <li>
          <div class="collapsible-header">Asia</div>
          <div class="collapsible-body">
              <ul>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('TH')">Thailand</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('VN')">Viet Nam</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('LA')">Laos</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('KH')">Cambodia</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('CN')">China</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('MY')">Malaysia</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('IN')">India</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('SGP')">Singapore</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('ID')">Indonesia</li>
                  <li></li>
              </ul>---------------
          </div>
        </li>
        <li>
          <div class="collapsible-header">Central America/Caribbean</div>
          <div class="collapsible-body">
              <ul>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('CR')">Costa Rica</li> 
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('BL')">St. Barth's</li> 
                  <li onMouseOver="this.style.cursor='pointer'"onclick="selectArea('JM')">Jamaica</li> 
                  <li onMouseOver="this.style.cursor='pointer'"onclick="selectArea('DO')">Dominican Republic</li> 
              </ul>---------------
          </div>
        </li>
        
        <li>
          <div class="collapsible-header">Europe</div>
          <div class="collapsible-body">
              <ul>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('FR')">France</li> 
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('GB')">England</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('IT')">Italy</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('ES')">Spain</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('DE')">Germany</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('AT')">Austria</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('CZ')">Czech Republic</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('HU')">Hungary</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('GR')">Greece</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('CH')">Switzerland</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('NL')">Netherlands</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('BE')">Belgium</li>   
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('MT')">Malta</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('LU')">Luxembourg</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('VR')">Vatican City</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('MC')">Monaco</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('HR')">Croatia</li>  
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('SI')">Slovenia</li> 
              </ul>---------------
          </div>
        </li>
        
        <li>
          <div class="collapsible-header">Middle East (Asia)</div>
          <div class="collapsible-body">
              <ul>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('JO')">Jordan</li>
              </ul>---------------
          </div>
        </li>
        
        <li>
          <div class="collapsible-header">North America</div>
          <div class="collapsible-body">
              <ul>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('CA')">Canada</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('MX')">Mexico</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('US')">United States</li>
              </ul>---------------
          </div>
        </li>
        
        <li>
          <div class="collapsible-header">Oceania</div>
          <div class="collapsible-body">
              <ul>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('AU')">Australia</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('NZ')">New Zealand</li>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('')">Tahiti</li>
              </ul>---------------
          </div>
        </li>
        
        <li>
          <div class="collapsible-header">South America</div>
          <div class="collapsible-body">
              <ul>
                  <li onMouseOver="this.style.cursor='pointer'" onclick="selectArea('EC')">Ecuador</li>
              </ul>---------------
          </div>
        </li>
      </ul>

    </div>
    
    <div id="mapdiv" style=" width: 70%; height: 400px;" class="col s9"></div>
</div>

    {#<div id="contentMapNonVulgar" style="padding: 3% ; border-width: 4px; margin-bottom: 50px;" class="container blue-square-border border sanchez">#}
        {#{{storyposts}}#}
    {#</div>#}
</div>
<br></br>
{% endblock %}