{% extends "base.twig" %}

{% block content %}

<div class="slider-for carousel-image">
      <div><img class="responsive-img" src={{tipsguide}} /></div>
</div>
<div class="grey-background">
    <div class="container">
    <div>Browse through the different sections for city overviews, practical tips, reviews, and of course travel inspiration.  My regular readers get this kind of information weekly, so remember to subscribe above to get your regular fix!</div>
    </div>
</div>
<div class="container row">

<ul class="collection">

<li class="collection-item">City Overviews</li>

<li class="collection-item">       Destination Spotlights</li>

<li class="collection-item">       Logistical Tips</li>

<li class="collection-item">       Partner Highlights</li>

<li class="collection-item">       Travel Ideas</li>

<li class="collection-item">       Reviews – Tours / Hotels</li>
</ul>
</div>
    
{% endblock %}