<div class="grey-background quote-padding">
    <div class=" sanchez">
    I started blogging well before I started this business, so if you want to read the more candid side of my past travels,
    feel free to explore the archive below!  You can search by keyword, or use the Destinations page to search by country.

    <div><img src={{sig | resize(100)}}></img></div>
    </div>
</div>
