
{% extends "tease.twig" %}

{% block content %}
<div class="container center">
	<h2 class="h2 blue-font menufont"><a class="blue-font"href="{{post.link}}">{{post.title}}</a></h2>
	{% if post.thumbnail.src %}
			<img style="width:15%;" class="responsive-img" src="{{post.thumbnail.src}}" />
		{% endif %}
		<div class="row">
			<div class="col s4" ></div>
			<div class="col s4"><p class="sanchez" >{{post.get_preview(25)}}</p></div>
			<div class="col s4"></div>
		</div>
		</div>
{% endblock %}