<div class="container">
<div class="row">

    <div class="col s1"> <img src="https://placehold.it/350x150" alt="" class=" left circle responsive-img"></div>
    <div class="col s4">
    <p>
    <span>etc etc etc</span>
    <br>
    <span>etc etc etc</span>
    <br>
    <span>etc etc etc</span>
    <br>
    <span>etc etc etc</span>
</p>
<h3>CLIENT NAME</h3>
    </div>
    <p>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
    </p>
    <h3>CLIENT NAME</h3>

    <p>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
    </p>
    <h3>CLIENT NAME</h3>

    <p>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
    </p>
    <h3>CLIENT NAME</h3>
</div>
</div>