<div class="container">
    <br></br>
   <div class="clearfix border">
  <div class="sm-col p2 border"><img src="https://placehold.it/100x100" alt="" class=" left circle responsive-img"></div>
  <div class="overflow-hidden">
      <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <h3>CLIENT NAME</h3>
        </div>
</div>

<br></br>

<div class="clearfix border">
  <div class="sm-col p1 border"><img src="https://placehold.it/100x100" alt="" class=" left circle responsive-img"></div>
  <div class="overflow-hidden">
      <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <h3>CLIENT NAME</h3>
        </div>
</div>
</div>