<div style=" z-index: 3; position: relative" class="container">
    <br></br>
   <div class="clearfix">
  <div class="sm-col p1 "><img src="/wp-content/themes/twig-wp-theme/static/Testimonial1.png" alt="" class=" left circle responsive-img"></div>
  <div style="padding-left: 20px" class="overflow-hidden">
      <span>“So [our] trip throughout Asia was absolutely incredible, but it couldn’t have happened without the help of our travel agent Julia Matheson.  She was amazing to work with, had everything taken care of including transportation to and from airports, tours, dinners, and events.  If any of you are planning a trip abroad- do yourself a favor and contact her to make the most of your trip.  Thanks Julia!” - Austin, TX</span>
        <br>
        <h4 class="blue-font"> A & M - Austin, TX</h4>
        </div>
</div>

<br></br>

<div class="clearfix">
  <div class="sm-col p1 "><img src="/wp-content/themes/twig-wp-theme/static/Testimonial5.png" alt="M&E" class=" left circle responsive-img"></div>
  <div style="padding-left: 20px" class="overflow-hidden">
      <span>I could have booked so much of my London, Paris & Edinburgh trip direct, but I’m glad I didn’t. Julia’s first hand knowledge made all the difference in making what would have been a great trip, a trip of a lifetime."</span>
        <br>
        <h4 class="blue-font">M&E - Ohio & Maryland</h4>
        </div>
</div>
  
<br></br>

<div class="clearfix">
  <div class="sm-col p1 "><img src="/wp-content/themes/twig-wp-theme/static/Testimonial3.png" alt="K Family" class=" left circle responsive-img"></div>
  <div style="padding-left: 20px" class="overflow-hidden">
      <span>My wife and I wanted to plan a trip to Paris with my parents since it had always been a dream of my mother's to visit. 
      Julia was incredibly valuable, not just in making this dream a reality, but in exceeding our expectations. 
      She listened to our preferences and offered many insightful suggestions which really helped tailor our trip.
      Julia was instrumental in arranging our stay at the fantastic boutique Hotel Bel Ami in Saint Germain and also in assisting with dinner reservations at the wonderfully delicious Atelier Joel Robuchon. 
      She also secretly organized in-room flowers and champagne to greet us upon arrival at our hotel since our anniversary happened to fall during our trip. Despite having limited time (1 day) to visit Normandy from Paris and with many excursions to choose, she helped us focus on a tour that met our needs. We will certainly be using Julia's expertise to book future travels.
      </span>
        <br>
        <h4 class="blue-font">K Family – Asheville, NC</h4>
        </div>
</div>
 <br></br>
<div class="clearfix">
  <div class="sm-col p1 "><img src="/wp-content/themes/twig-wp-theme/static/Testimonial4.png" alt="M Family" class=" left circle responsive-img"></div>
  <div style="padding-left: 20px" class="overflow-hidden">
      <span>“We had an INCREDIBLE vacation. Thanks to all of your help!” </span>
        <br>
        <h4 class="blue-font">M Family – Charlotte, NC</h4>
        </div>
</div>

<br></br>
<div class="clearfix">
  <div class="sm-col p1 "><img src="/wp-content/themes/twig-wp-theme/static/Testimonial2.png" alt="C Family" class=" left circle responsive-img"></div>
  <div style="padding-left: 20px" class="overflow-hidden">
      <span>“In the airport now! Wonderful trip with great memories. The others have landed safely...Thank you for everything!” </span>
        <br>
        <h4 class="blue-font">C Family – Asheville, NC</h4>
        </div>
</div>
</div>
<br></br>
<br></br>