<div class="container">
    <br></br>
   <div class="clearfix border">
  <div class="sm-col p2 border"><img src="https://placehold.it/100x100" alt="" class=" left circle responsive-img"></div>
  <div class="overflow-hidden">
      <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <h3>CLIENT NAME</h3>
        </div>
</div>

<br></br>

<div class="col s12 m7">
    {#<h2 class="header">Horizontal Card</h2>#}
    <div class="card horizontal z-depth-0">
      <div class="card-image circle">
        <img src="http://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <h3>CLIENT NAME</h3></p>
        </div>
        {#<div class="card-action">#}
        {#  <a href="#">This is a link</a>#}
        {#</div>#}
      </div>
    </div>
  </div>
  
<br></br>

<div class="clearfix border">
  <div class="sm-col p1 border"><img src="https://placehold.it/100x100" alt="" class=" left circle responsive-img"></div>
  <div class="overflow-hidden">
      <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <br>
        <span>etc etc etc</span>
        <h3>CLIENT NAME</h3>
        </div>
</div>
</div>